/* Estilos básicos */
body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  padding-top: 50px;
}

/* Estilos básicos */
header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: #222;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 20px 0;
  transition: all 0.3s ease;
}

header.scrolled {
  background-color: rgba(34, 34, 34, 0.29); /* Transparência */
  padding: 10px 0; /* Header menor */
  transition: all 0.3s ease;
}

header.focus {
  background-color: #222; /* Retorna opaco */
  padding: 20px 0; /* Retorna ao tamanho original */
  transition: all 0.3s ease;
}

.logo {
  width: 50px;
  transition: transform 0.2s ease-in-out;
}

.logo:hover {
  transform: scale(1.2);
}

/* Aplica o transform para todas as imagens da página */
img {
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.05);
}

section {
  margin-top: 80px;
  padding: 60px 20px;
}

a.nav-link {
  color: #fff;
  font-weight: 400;
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  transition: font-weight 0.3s ease, color 0.3s ease;
}

a.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #f72313;
  left: 0;
  bottom: 0;
  transition: width 0.3s ease;
}

a.nav-link:hover {
  font-weight: 600;
  color: #f72313;
}

a.nav-link:hover::after {
  width: 100%;
}

.fab {
  transition: color 0.3s ease;
  font-size: 1.25rem; /* Tamanho reduzido dos ícones */
}

.fab:hover {
  color: #fba42b;
}

/* Estilos do footer */
footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 20px;
}

footer a {
  color: #fba42b;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Responsividade */
@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    align-items: center;
  }

  .navbar ul li {
    margin: 10px 0;
  }

  header {
    padding: 10px 0;
  }

  .logo {
    width: 40px;
  }

  section {
    padding: 40px 15px;
  }
}

/* Cards da seção de dicas */
.card {
  border: none;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

/* Botões */
.btn-primary {
  background-color: #f72313;
  border-color: #f72313;
  color: white;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-primary:hover {
  background-color: #151515;
  border-color: #151515;
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Aplica padronização de cores para outros botões */
.btn-secondary {
  background-color: #1e1a1b;
  border-color: #1e1a1b;
  color: white;
}

.btn-secondary:hover {
  background-color: #151515;
  border-color: #151515;
}

/* Seções com background */
.section-dark {
  background-color: #333;
  color: #fff;
}

.section-light {
  background-color: #f4f4f4;
  color: #333;
}

/* Estilos para Tabelas Responsivas */
.table-responsive {
  overflow-x: auto; /* Habilita a rolagem horizontal */
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #ffffff;
}

.table th,
.table td {
  padding: 1rem;
  background-color: #383838;
  vertical-align: middle;
  border-top: 1px solid #000000;
  word-wrap: break-word; /* Quebra palavras longas */
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-bordered {
  border: 1px solid #000000;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #000000;
  background-color: #151515;
  color: #ffffff;
}

.table-hover tbody tr:hover td {
  background-color: #918f8f;
  color: white;
  font-weight: bold;
}

.table td button {
  transition: transform 0.2s ease-in-out;
}

.table td button:hover {
  transform: scale(1.05);
}

/* Responsividade da Tabela em Mobile */
@media (max-width: 768px) {
  .table th,
  .table td {
    white-space: nowrap; /* Evita que o texto quebre em várias linhas */
    padding: 0.75rem;
  }

  .table-responsive {
    overflow-x: scroll; /* Habilita rolagem horizontal em telas pequenas */
    -webkit-overflow-scrolling: touch; /* Para uma rolagem mais suave no iOS */
  }

  /* Ajusta o tamanho da fonte e padding no mobile */
  .table th,
  .table td {
    font-size: 0.7rem;
    padding: 0.4rem;
  }

  .table th {
    font-size: 1rem;
  }

  .table td button {
    font-size: 0.85rem;
    padding: 0.25rem 0.5rem;
  }
}
/* Transformação da logo na seção 'Sobre' */
.section-fade .img-fluid {
  transition: transform 0.3s ease-in-out;
}

.section-fade .img-fluid:hover {
  transform: scale(1.1);
}

/* Seção Dicas */
.section-fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.section-fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Efeito fade-in aplicado aos cartões individualmente */
.fade-in {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Estilos dos botões */
.btn-primary {
  background-color: #f72313;
  border-color: #f72313;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
}

.btn-primary:hover {
  background-color: #151515;
  border-color: #151515;
  color: white;
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.btn-secondary {
  background-color: #1e1a1b;
  border-color: #1e1a1b;
  color: white;
}

.btn-secondary:hover {
  background-color: #151515;
  border-color: #151515;
  transform: scale(1.05);
}

/* Cards */
.card {
  border: none;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

/* Títulos e textos */
.card-title {
  color: #f72313;
  font-weight: bold;
  font-size: 1.25rem;
}

.card-text {
  color: #555;
}

.text-primary {
  color: black;
}

.dicas {
  color: wheat;
}
